.mainHeader
{
    background-color: #333333;
    
}

.headerText
{
    font-family: 'East Sea Dokdo', cursive;
    color:blanchedalmond;
}

.leadText
{
    font-family: 'Indie Flower', cursive; 
    color:blanchedalmond;
}

#instructions
{
    font-family: 'Indie Flower', cursive;
    color:blanchedalmond;
}

#Guessed
{
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    text-align: center;
    /* color:rgba(0, 0, 0, 0.2); */
}

#mainBody
{
}